.body-bg {
  background-color: #fffcf7;
}

.hover-color {
  max-width: 550px!important;
}

.bg-blue {
  background-color: #003049;
}

.text-peach {
  color: #e5dfda;
}

.custom-toggler {
  color: #fe8836;
}

.border-info-right {
  border-right: 2px solid #00507a;
}

.hover-orange:hover {
  color: #fe8836!important;
}

.hover-orange-border:hover {
  border-bottom: 4px solid #fe8836;
}

.maxw-130 {
  max-width: 130px;
}

.bg-light-peach {
  background-color: #fcf7f0;
  box-shadow: 3px 2px #f4ecdf;
}

.text-brown {
  color: #927e62;
}

.active-border {
  border-bottom: 4px solid #fe8836;
}

.navbar-active {
  color: #fe8836;
}

/***starting of carousel***/

.carousel-indicators {
  bottom: -19%!important;
}

.carousel-indicators li {
  width: 12px!important;
  height: 12px!important;
  background-color: #ff8833!important;
  border-radius: 50%!important;
}

/***end of carousel***/

.text-orange {
  color: #ff5100;
}

.rounded-xl {
  border-radius: 15px;
}

.btn-orange {
  background-color: #ff8833!important;
}

.bg-icon {
  background-color: #0a4c6e;
}

.hover:hover {
  color: white!important;
}

.wh-25 {
  width: 25px;
  height: 25px;
}

.width-30 {
  width: 30px;
  height: 30px;
}

/***starting for all products page***/

.font-size-20 {
  font-size: 27px!important;
}

.bg-dark-black {
  background-color: #000000!important;
}

.pl-none {
  padding-left: 0;
}

.border-top {
  border-top: 1px solid #f2f2f2;
}

.hover-muted:hover {
  color: #6c757d!important;
}

/***end for all products page***/

/***starting of apparel page***/

.breadcrumb-item + .breadcrumb-item:before {
  content: ">"!important;
}

.bg-skin {
  background-color: #f4ecdf!important;
}

.shadow-opacity {
  text-shadow: none!important;
  opacity: 1!important;
  float: none!important;
}

.text-black {
  color: #343a40;
}

.custom-checkbox .custom-control-input.custom-color~.custom-control-label::before{
  border: 0.1em solid #c7ccd2!important;
  box-shadow: 0 .5rem 1rem rgba(255,136,51,.15)!important;
}

.custom-checkbox .custom-control-input:checked.custom-color~.custom-control-label::before {
  background-color: #ff8833!important;
  border: 0.1em solid #ff8833!important;
}

.custom-checkbox .custom-control-input.color-beige~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-beige~.custom-control-label::before {
  background-color: #ebecf0!important;
  border: 0.1em solid #ebecf0!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-black~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-black~.custom-control-label::before {
  background-color: #2c3c49!important;
  border: 0.1em solid #2c3c49!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-blue~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-blue~.custom-control-label::before {
  background-color: #7ec7ff!important;
  border: 0.1em solid #7ec7ff!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-coral~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-coral~.custom-control-label::before {
  background-color: #ff5f43!important;
  border: 0.1em solid #ff5f43!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-magenta~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-magenta~.custom-control-label::before {
  background-color: #ff6f86!important;
  border: 0.1em solid #ff6f86!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-forest~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-forest~.custom-control-label::before {
  background-color: #5f901d!important;
  border: 0.1em solid #5f901d!important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.color-yellow~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked.color-yellow~.custom-control-label::before {
  background-color: #f5d14b!important;
  border: 0.1em solid #f5d14b!important;
  box-shadow: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #ff8833;
  border: 0.1em solid #ff8833;
  box-shadow: 0 .5rem 1rem rgba(255,136,51,.15)!important;
}

.custom-shadow:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.page-active {
  background-color: #ff8833!important;
}

.page-hover:hover {
  background-color: #ff8833!important;
  color: white!important;
}

.hover-color {
  position: absolute!important;
  top: 9%;
  left: 16%;
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.blue-hover #hide {
  display: none;
  position: absolute!important;
  width: 450px;
  height: auto;
  top: -867%;
  left: 55%;
}

.blue-hover:hover #hide {
  display: block!important;
}

.text-orange {
  color: #ff8833!important;
}

.color-bg:hover .label-hover {
  background-color: #fcf9f5;
}

.left-arrow {
  position: absolute;
  left: -1%;
  top: 47%;
}

/***end of apparel page***/

/***starting of request page***/

.request-container {
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.font-14 {
  font-size: 14px!important;
}

.select-custom {
  min-width: 135px!important;
}

.custom-checkbox .custom-control-input.custom-checked~.custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked.custom-checked~.custom-control-label::before {
  background-color: #ff8833!important;
  border: 0.1em solid #ff8833!important;
}

/***end of request page***/

/***starting of review***/

.font-40 {
  font-size: 40px;
  font-weight: 400;
}

.border-dash {
  border-bottom: 1px dashed #efebe8;
}

.done-container {
  max-width: 550px;
  margin: auto;
}

.bg-pale {
  background-color: #fffcf7;
}

/***end of review***/

/***starting of breakpoint for mobile-view***/

@media only screen and (max-width: 767px) {

  .paddingl-12 {
    padding-left: 12px!important;
  }

  .text-align-center {
    text-align: center;
  }

  .paddingt-15 {
    padding-top: 15px;
  }

  .blue-hover #hide {
    width: 298px;
    top: -1315%;
    left: 31%;
  }

  .pt-sm-40 {
    padding-top: 40px;
  }

  .mt-sm-20 {
    margin-top: 20px;
  }

  .col-xs-6 {
    width: 50%!important;
  }
}

/***end of breakpoint for mobile-view***/